<div class="form-group">
  <label for="title">Order Title</label>
  <input required value="<%= order.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
  <label for="description">Order Description</label>
  <textarea name="description" id="description" class="form-control"><%= order.description %></textarea>
</div>
<div class="form-group">
  <label for="markdown">Order Detail</label>
  <textarea required name="markdown" id="markdown" class="form-control"><%= order.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>